.card {
    max-width: 500px;
    box-shadow: 12px 4px 17px 1px rgb(0, 0, 0);
}

.btn {
    margin: 2px;
}

li {
    list-style: none;
}

.card-header {
    text-align: center;
    font-style: italic;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3
}